.drag-handle-nw,
.drag-handle-ne,
.drag-handle-se,
.drag-handle-sw {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10010;
  position: absolute;

  --handle-offset: -3px;
  --handle-size: 6px;

  width: var(--handle-size);
  height: var(--handle-size);
}

.drag-handle-nw {
  left: var(--handle-offset);
  top: var(--handle-offset);

  cursor: nw-resize;
}

.drag-handle-ne {
  right: var(--handle-offset);
  top: var(--handle-offset);

  cursor: ne-resize;
}

.drag-handle-se {
  right: var(--handle-offset);
  bottom: var(--handle-offset);

  cursor: se-resize;
}

.drag-handle-sw {
  left: var(--handle-offset);
  bottom: var(--handle-offset);

  cursor: sw-resize;
}
