/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import "variables.css";

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.control-container {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: absolute;
}

.control-container.button {
  font-family: "Courier New", Courier, monospace;
}

.control-container > *:first-child {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;

  width: 100%;
}

control-container button {
  margin: 0px;
  padding: 0px;

  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;

  background: rgb(224, 96, 37);
  border-radius: 0px;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  border: 2px solid rgb(61, 110, 201);
  box-sizing: border-box;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
